.header p{
  text-weight: 100%;
}

#intro {
  background-color: rgb(0, 0, 0);
  section{
    height: 20vh;
  }
}

section #profile{
  height: 20vh;
}

section #hobbies{
  height: 300%;
}

section #contact{
  background: rgb(15, 15, 15);
  
}
