.header p{
  text-weight: 150%;
}

section #intro {
  height: 20vh;
}

section #profile{
  height: 20vh;
}

section #hobbies{
  height: 300%;
}

section #contact{
  background-color: rgb(15, 15, 15);
  
}
