body {
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #CFCFCF;
  margin: 0;
  padding 0;
}

#intro {
  align-items: center;
  background: linear-gradient(90deg, rgb(245, 245, 245), rgb(61, 156, 241));
}

#top-of-page{
  height: 300px;
  position: fixed;
  background: linear-gradient(90deg, rgb(245, 245, 245), rgb(61, 156, 241));
}

#navbar {
  position: relative;
  height: 100%;
  min-width 100px:
  background-color: rgb(61, 156, 241);
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
}

#navbar ul {
  height: 100%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

nav header{
  font-size: 40px;
}

#navbar li {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
}

#main-doc{
  position: absolute;
  margin-left: 260px;
  padding: 20px;
  margin-bottom: 110px;
}

section li {
  padding: 10px;
  margin: 0px 0px 0px 20px;
}

.header p{
  text-weight: 100%;
}

#intro {
  background-color: rgb(0, 0, 0);
  height: 40vh;
  max-width: 100%;
}

#intro img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px;
}

section #profile{
  
}

section #hobbies{
  height: 300%;
}

section #contact{
  background: rgb(15, 15, 15);
  
}

.header{
  text-align: center;
}

.header h1{
  font-size: 720px;
  font-weight: bold;
  color: linear-gradient(90deg, rgb(245, 245, 245), rgb(61, 156, 241);
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}
